<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.padual.com/java/logback.xsd">

  <!-- Enable Stackdriver logging for GAE -->
  <!-- https://cloud.google.com/logging/docs/setup/java -->
  <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
    <!-- Optional : filter logs at or above a level -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <log>gae_app.log</log> <!-- Optional : default java.log -->
    <!--<resourceType>gae_app</resourceType>--> <!-- Optional : default: auto-detected, fallback: global -->
    <!--<enhancer>com.google.cloud.logging.TraceLoggingEnhancer</enhancer>--> <!-- Optional -->
    <flushLevel>WARN</flushLevel> <!-- Optional : default ERROR -->
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- package specific log levels -->
  <logger name="com.powerpro" level="DEBUG" />
  <logger name="io.grpc.netty" level="INFO" />
  <logger name="sun.net" level="INFO" />

  <root level="info">
    <appender-ref ref="CLOUD" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
